In [7]:
import pandas as pd
df=pd.read_csv("./Airbnb_UK_2022.csv",header=0)
g=df.groupby('amenities')
# for group,item_in_group in g:
#     print({group})
#     print(item_in_group)
      
dm=df.amenities
k=[]
for row in dm:
    k.append(row)
G=pd.DataFrame(k,columns=['amenities'])

k=G['amenities'].str.split(',')
# print(k[1])
print(k.shape)
m=k.explode()
print(m)
print("number amenities choosed by air_bnb users in uk, from most to least is listed below")
print(m.value_counts())
print("most choosed amenity")
print("-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------")
print(m.value_counts().idxmax())
Data={}
#for i in range(len(k)):
    #Data={"val":k.iloc[0:8439]}

# c=pd.DataFrame(Data,)
# c
# c.explode
#print(len(k))
# dh=dm.unique()
# dm.value_counts()
#for row in dm:
#mt=[]
# for i in range(len(k)):
#     data=[k[i] ]
#     mata.update(data)
# mm=pd.DataFrame(mata,)    
# print(mm)
# mm.
print(df.groupby('host_location').mean)

(8439,)
0                      ["Fire extinguisher"
0                              "Hair dryer"
0                                 "Hangers"
0                   "Dishes and silverware"
0                 "Luggage dropoff allowed"
                       ...
8438     "65\" HDTV with Amazon Prime Video
8438                               Apple TV
8438                                Netflix
8438                        standard cable"
8438            "Central air conditioning"]
Name: amenities, Length: 253976, dtype: object
number amenities choosed by air_bnb users in uk, from most to least is listed below
 "Kitchen"                                               7671
 "Smoke alarm"                                           7461
 "Wifi"                                                  6733
 "Iron"                                                  6710
 "Hangers"                                               6633
                                                         ...
 "Google home Bluetooth sound system"                       1
 "Game console: PS4 and Xbox 360"                           1
 "Samsung blue tooth speaker  Bluetooth sound system"       1
 "Fast wifi \u2013 75 Mbps"]                                1
 "LG oven"                                                  1
Name: amenities, Length: 2475, dtype: int64
most choosed amenity
-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
 "Kitchen"
<bound method GroupBy.mean of <pandas.core.groupby.generic.DataFrameGroupBy object at 0x0000020EA5240640>>

In [13]:
print(df.groupby('host_location')['price'].mean())

host_location
Aberdeen          152.333333
Aberystwyth        64.000000
Addington         124.000000
Ascot             300.000000
Ashford            65.375000
                     ...
Wolverton          87.000000
Woodford           65.333333
Worcester Park     37.000000
Wraysbury          76.000000
York              250.000000
Name: price, Length: 309, dtype: float64

In [14]:
print(df.groupby('host_location')['review_scores_rating'].mean())

host_location
Aberdeen          4.256667
Aberystwyth       4.820000
Addington         4.710000
Ascot             4.940000
Ashford           4.596250
                    ...
Wolverton         4.900000
Woodford          4.883333
Worcester Park    4.500000
Wraysbury         4.550000
York              4.630000
Name: review_scores_rating, Length: 309, dtype: float64

In [15]:
print(df.groupby('host_location')['number_of_reviews'].mean())

host_location
Aberdeen           5.666667
Aberystwyth       11.000000
Addington          7.000000
Ascot             17.000000
Ashford           92.000000
                    ...
Wolverton         48.000000
Woodford          91.000000
Worcester Park    20.000000
Wraysbury         65.000000
York               8.000000
Name: number_of_reviews, Length: 309, dtype: float64